body {
    font-family: 'Courier New', Courier, monospace;
}

#title {
    color: rgb(255,99,71); ;
}

#potato {
    color: rgb(60,179,113); ;
}

#lasagna {
    color: rgb(255,140,0); ;
}


#main-title {
    color: rgb(65,105,225);

}